body{
    background: #839b97;
}
header li {
    display: inline-block;
    list-style: none;
    margin: 20px 40px 20px 0px;
    font-size: 1.2em;
    font-family: 'Dancing Script', cursive;
    text-align: center;
}
header{
    background: #4b7c74;
}
#edit {
    text-align: center;
    background: #06463b; 
    line-height: 100px;
    font-family: 'Dancing Script', cursive;
    color: #06463b ;
}
#left-image{
    width:300px;
    height: 500px;
    float: left;
}
#center-image{
    float:center;
    width:730px;
    height: 500px;
}
#right-image{
    width:300px;
    height: 500px;
    float: right;
}
nav ul li a{
    text-align: center;
    color :#06463b;
    text-decoration: none;
    margin:70px;
}
#result-list{
    text-align: center;
    color :#06463b;
    font-family: 'Dancing Script', cursive;
    font-size: 1.2em;

}

#myChart{
    background-color: #06463b;
}
#divder{
    color: #06463b;
}